.barra_menu {
    float: right;
    width: 80%;
    height: 50px;
    margin-bottom: 15px;
}

.barra_menu .dados {
    float: right;
    display: flex;
}

.barra_menu .name {
    line-height: 50px;
}

.barra_menu .img {
    float: right;
    margin-right: 10px;
    font-size: 18pt;
}

.barra_menu .img i {
    margin-left: 10px;
    font-size: 25pt;
    line-height: 50px;
}

.dash {
    width: 20%;
    height: 100%;
    position: fixed;
    font-size: 15pt;
    text-align: center;
    background-image: url("../imagens/fundo_dash.jpg");
    background-size: cover;
}

.dash_menu {
    position: absolute;
    width: 100%;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0a2948;
    opacity: 0.6;
}

.logo {
    color: white;
    position: relative;
    height: 40px;
    line-height: 50px;
}

.dash_sub_menu {
    display: flex;
    padding: 15px 10px 15px 30px;
    align-items: center;
}

.dash_sub_menu:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.dash_sub_menu .icon {
    padding-right: 20px;
}

@media only screen and (max-width:800px) {
    .dash {
        width: 90px;
        position: fixed;
    }

    .logo, hr, .texto {
        display: none;
    }

    .barra_menu {
        margin-right: 10px;
    }
}